
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center">
                    <h2 class="section-title wow fadeInUp" data-wow-delay=".3s"></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="works-wrapper">
                    <!-- start: Portfolio Popup -->
                    <div class="popup_modal_img">
                        <img src="~/assets/img/portfolio/p2.png" alt="" />
                    </div>
                    <div class="popup_modal_content">
                        <div class="portfolio_info">
                            <div class="portfolio_info_text">
                                <h2 class="title">Project 01</h2>
                                <div class="desc">
                                    <p>
                                        They are was greater open above shelter lets itself under appear sixth open gathering made upon
                                        can't own above midst
                                        gathering gathered he one us saying can't divide.
                                    </p>
                                </div>
                                <a href="#" class="btn tj-btn-primary">live preview <i class="fal fa-arrow-right"></i></a>
                            </div>
                            <div class="portfolio_info_items">
                                <div class="info_item">
                                    <div class="key">Category</div>
                                    <div class="value">Web Design</div>
                                </div>
                                <div class="info_item">
                                    <div class="key">Client</div>
                                    <div class="value">IT World</div>
                                </div>
                                <div class="info_item">
                                    <div class="key">Start Date</div>
                                    <div class="value">August 20, 2023</div>
                                </div>
                                <div class="info_item">
                                    <div class="key">Designer</div>
                                    <div class="value"><a href="https://www.facebook.com/Abdur.Rahaman.Shishir1/" target="_blank">Abdur Rahaman Shishir</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio_gallery owl-carousel">
                            <div class="gallery_item">
                                <img src="~/assets/img/portfolio/p1.jpg" alt="" />
                            </div>
                            <div class="gallery_item">
                                <img src="~/assets/img/portfolio/p3.jpg" alt="" />
                            </div>
                            <div class="gallery_item">
                                <img src="~/assets/img/portfolio/p4.jpg" alt="" />
                            </div>
                            <div class="gallery_item">
                                <img src="~/assets/img/portfolio/p2.png" alt="" />
                            </div>
                        </div>
                        <div class="portfolio_description">
                            <h2 class="title">Project Description</h2>
                            <div class="desc">
                                <p>
                                    This project involves the creation of an e-commerce website. Our goal is to provide a seamless platform for users to explore products, make purchases, and enjoy a delightful shopping experience.
                                </p>
                                <p>
                                    Our commitment extends beyond functionality. We’re designing an elegant interface that prioritizes aesthetics, responsiveness, and ease of navigation. Whether users are shopping on their desktops, tablets, or mobile devices, they’ll encounter a consistent and delightful journey.
                                </p>
                            </div>
                        </div>
                        <div class="portfolio_story_approach">
                            <div class="portfolio_story">
                                <div class="story_title">
                                    <h4 class="title">The story</h4>
                                </div>
                                <div class="story_content">
                                    <p>
                                        Our e-commerce site caters to a diverse range of customers. From fashion enthusiasts to tech-savvy individuals, we offer a curated selection of products. Whether it’s trendy clothing, cutting-edge gadgets, or artisanal goods, our site has something for everyone.
                                    </p>
                                </div>
                            </div>
                            <div class="portfolio_approach">
                                <div class="approach_title">
                                    <h4 class="title">OUR APPROACH</h4>
                                </div>
                                <div class="approach_content">
                                    <p>
                                        We prioritize customer satisfaction. Every interaction matters, from the moment users land on our homepage to the checkout process. Our approach revolves around personalized service, efficient navigation, and a visually appealing design. We want our customers to feel special and valued throughout their journey on our platform.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio_navigation">
                            <div class="navigation_item prev-project">
                                <a href="#" class="project">
                                    <i class="fal fa-arrow-left"></i>
                                    <div class="nav_project">

                                        <div class="label">Previous Project</div>
                                        <h3 class="title">Previous</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="navigation_item next-project">
                                <a href="#" class="project">
                                    <div class="nav_project">
                                        <div class="label">Next Project</div>
                                        <h3 class="title">Next</h3>
                                    </div>
                                    <i class="fal fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end: Portfolio Popup -->
                </div>
            </div>
        </div>
    </div>
</main>
