@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<main class="site-content" id="content">
    <!-- HERO SECTION START -->
    <section class="hero-section d-flex align-items-center" id="intro">
        <div class="intro_text">
            <svg viewBox="0 0 1320 300">
                <text x="50%" y="50%" text-anchor="middle">SHISHIR</text>
            </svg>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="hero-content-box">
                        <span class="hero-sub-title">I am Shishir</span>
                        <h1 class="hero-title">Web Developer +<br />UX Designer</h1>
                        <div class="hero-image-box d-md-none text-center">
                            <img src="~/assets/img/hero/me1.png" alt="" />

                        </div>
                        <p class="lead">
                            I break down complex user experience problems to create integrity focussed solutions that connect billions of people
                        </p>
                        <div class="button-box d-flex flex-wrap align-items-center">
                            <a href="#" class="btn tj-btn-secondary">Download CV <i class="flaticon-download"></i></a>
                            <ul class="ul-reset social-icons">
                                <li>
                                    <a href="https://www.linkedin.com/in/abdur-rahaman-shishir/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a href="https://github.com/ARShishir" target="_blank"><i class="fa-brands fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <div class="hero-image-box text-center">
                        <img src="~/assets/img/hero/me1.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="funfact-area">
                <div class="row">
                    <div class="col-7 col-lg-4">
                        <div class="funfact-item d-flex flex-column flex-sm-row flex-wrap align-items-center">
                            <div class="number"><span class="odometer" data-count="4">0</span></div>
                            <div class="text">Years of <br />Experience</div>
                        </div>
                    </div>
                    <div class="col-7 col-lg-4">
                        <div class="funfact-item d-flex flex-column flex-sm-row flex-wrap align-items-center">
                            <div class="number"><span class="odometer" data-count="10">0</span>+</div>
                            <div class="text">Project <br />Completed</div>
                        </div>
                    </div>
                    <div class="col-7 col-lg-4">
                        <div class="funfact-item d-flex flex-column flex-sm-row flex-wrap align-items-center">
                            <div class="number"><span class="odometer" data-count="7">0</span></div>
                            <div class="text">Happy <br />Clients</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- HERO SECTION END -->
    <!-- SERVICES SECTION START -->
    <section class="services-section" id="services-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">My Quality Services</h2>
                        <p class="wow fadeInUp" data-wow-delay=".4s">
                            We don't just build websites, we sculpt digital experiences that resonate. Here's why you should choose us.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="services-widget position-relative">
                        <div class="service-item current d-flex flex-wrap align-items-center "
                             data-wow-delay=".5s">
                            <div class="left-box d-flex flex-wrap align-items-center">
                                <span class="number">01</span>
                                <h3 class="service-title">Build Websites</h3>
                            </div>
                            <div class="right-box">
                                <p>
                                    Our development team crafting websites that captivate. From portfolios to dynamic apps, we turn lines of code into artistry.
                                </p>
                            </div>
                            <i class="flaticon-up-right-arrow"></i>
                            <button></button>
                        </div>
                        <div class="service-item d-flex flex-wrap align-items-center wow fadeInUp" data-wow-delay=".6s">
                            <div class="left-box d-flex flex-wrap align-items-center">
                                <span class="number">02</span>
                                <h3 class="service-title">Graphic Design</h3>
                            </div>
                            <div class="right-box">
                                <p>
                                    We’re storytellers in pixels. Logos that linger, brochures that beckon – our designs resonate. Your brand, our canvas.
                                </p>
                            </div>
                            <i class="flaticon-up-right-arrow"></i>
                            <button></button>
                        </div>
                        <div class="service-item d-flex flex-wrap align-items-center wow fadeInUp" data-wow-delay=".7s">
                            <div class="left-box d-flex flex-wrap align-items-center">
                                <span class="number">03</span>
                                <h3 class="service-title">2D and 3D Models</h3>
                            </div>
                            <div class="right-box">
                                <p>
                                    Elegance meets depth. Whether architectural walkthroughs or game assets, we breathe life into your vision.
                                </p>
                            </div>
                            <i class="flaticon-up-right-arrow"></i>
                            <button></button>
                        </div>
                        <div class="service-item d-flex flex-wrap align-items-center wow fadeInUp" data-wow-delay=".8s">
                            <div class="left-box d-flex flex-wrap align-items-center">
                                <span class="number">04</span>
                                <h3 class="service-title">SEO optimized</h3>
                            </div>
                            <div class="right-box">
                                <p>
                                    Rise to the top! Our spells optimize keywords, meta tags, and content. Be the enchanting hit on search engines.
                                </p>
                            </div>
                            <i class="flaticon-up-right-arrow"></i>
                            <button></button>
                        </div>
                        <div class="active-bg wow fadeInUp" data-wow-delay=".5s"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SERVICES SECTION END -->
    <!-- PORTFOLIO SECTION START -->
    <section class="portfolio-section" id="works-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">My Recent Works</h2>
                        <p class="wow fadeInUp" data-wow-delay=".4s">
                            We put your ideas and thus your wishes in the form of a unique web project that inspires you and
                            you customers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-filter text-center " data-wow-delay=".5s">
                        <div class="button-group filter-button-group">
                            <button data-filter="*" class="active">All</button>
                            <button data-filter=".web">Web Development</button>
                            <button data-filter=".grd">Graphic Design</button>
                            <button data-filter=".ttd">2D and 3D Models</button>
                            <button data-filter=".seo">SEO optimized</button>
                            <div class="active-bg"></div>
                        </div>
                    </div>

                    <div class="portfolio-box " data-wow-delay=".6s">
                        <div class="portfolio-sizer"></div>
                        <div class="gutter-sizer"></div>
                        <div class="portfolio-item grd">
                            <div class="image-box">
                                <img src="~/assets/img/portfolio/p2.png" alt="" />
                            </div>
                            <div class="content-box">
                                <h3 class="portfolio-title">
                                    <span>
                                        <a href="/Portfolio/Details" style="text-decoration: none; color: #FFFFFF;">
                                            Project 01
                                        </a>
                                    </span>
                                </h3>
                                <p>Project was about precision and information.</p>
                                <i class="flaticon-up-right-arrow"></i>
                                <button href="/Portfolio/Details"></button>
                            </div>
                        </div>
                        <div class="portfolio-item web">
                            <div class="image-box">
                                <img src="~/assets/img/portfolio/p1.jpg" alt="" />
                            </div>
                            <div class="content-box">
                                <h3 class="portfolio-title">
                                    <span>
                                        <a href="/Portfolio/Details" style="text-decoration: none; color: #FFFFFF;">
                                            Project 02
                                        </a>
                                    </span>
                                </h3>
                                <p>Project was about precision and information.</p>
                                <i class="flaticon-up-right-arrow"></i>
                                <button href="/Portfolio/Details"></button>
                            </div>
                        </div>
                        <div class="portfolio-item ttd">
                            <div class="image-box">
                                <img src="~/assets/img/portfolio/p3.jpg" alt="" />
                            </div>
                            <div class="content-box">
                                <h3 class="portfolio-title">
                                    <span>
                                        <a href="/Portfolio/Details" style="text-decoration: none; color: #FFFFFF;">
                                            Project 03
                                        </a>
                                    </span>
                                </h3>

                                <p>Project was about precision and information.</p>
                                <i class="flaticon-up-right-arrow"></i>
                                <button href="/Portfolio/Details"></button>
                            </div>
                        </div>
                        <div class="portfolio-item ttd">
                            <div class="image-box">
                                <img src="~/assets/img/portfolio/p4.jpg" alt="" />
                            </div>
                            <div class="content-box">
                                <h3 class="portfolio-title">
                                    <span>
                                        <a href="/Portfolio/Details" style="text-decoration: none; color: #FFFFFF;">
                                            Project 04
                                        </a>
                                    </span>
                                </h3>
                                <p>Project was about precision and information.</p>
                                <i class="flaticon-up-right-arrow"></i>
                                <button href="/Portfolio/Details"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PORTFOLIO SECTION END -->
    <!-- RESUME SECTION START -->
    <section class="resume-section" id="resume-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-header wow fadeInUp" data-wow-delay=".3s">
                        <h2 class="section-title"><i class="flaticon-recommendation"></i> My Experience</h2>
                    </div>
                    <div class="resume-widget">
                        <div class="resume-item wow fadeInLeft" data-wow-delay=".4s">
                            <div class="time">2024 - Present</div>
                            <h3 class="resume-title">SEO Optimizer</h3>
                            <div class="institute">Dhaka, Bangladesh</div>
                        </div>
                        <div class="resume-item wow fadeInLeft" data-wow-delay=".5s">
                            <div class="time">2022 - 2023</div>
                            <h3 class="resume-title">Juniour Web Developer</h3>
                            <div class="institute">Code Generator, Bangladesh </div>
                        </div>
                        <div class="resume-item wow fadeInLeft" data-wow-delay=".6s">
                            <div class="time">2021 - 2022</div>
                            <h3 class="resume-title">2D & 3D Designer</h3>
                            <div class="institute">ICT Computer, Bangladesh</div>
                        </div>
                        <div class="resume-item wow fadeInLeft" data-wow-delay=".7s">
                            <div class="time">2021 - 2021</div>
                            <h3 class="resume-title">Junior Graphics Designer</h3>
                            <div class="institute">ICT Computer, Bangladesh</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-header wow fadeInUp" data-wow-delay=".4s">
                        <h2 class="section-title"><i class="flaticon-graduation-cap"></i> My Education</h2>
                    </div>
                    <div class="resume-widget">
                        <div class="resume-item wow fadeInRight" data-wow-delay=".5s">
                            <div class="time">2022 - Present</div>
                            <h3 class="resume-title">CSE </h3>
                            <div class="institute">SMUCT, Bangladesh</div>
                        </div>
                        <div class="resume-item wow fadeInRight" data-wow-delay=".6s">
                            <div class="time">2019 - 2021</div>
                            <h3 class="resume-title">HSC</h3>
                            <div class="institute">NHMSC, Bangladesh</div>
                        </div>
                        <div class="resume-item wow fadeInRight" data-wow-delay=".7s">
                            <div class="time">2017 - 2019</div>
                            <h3 class="resume-title">SSC</h3>
                            <div class="institute">CAHSC, Bangladesh</div>
                        </div>
                        <div class="resume-item wow fadeInRight" data-wow-delay=".8s">
                            <div class="time">2016 - 2017</div>
                            <h3 class="resume-title">JSC</h3>
                            <div class="institute">CAHSC, Bangladesh</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- RESUME SECTION END -->
    <!-- SKILLS SECTION START -->
    <section class="skills-section" id="skills-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">My Skills</h2>
                        <p class="wow fadeInUp" data-wow-delay=".4s">
                            We put your ideas and thus your wishes in the form of a unique web project that inspires you and
                            you customers.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="skills-widget d-flex flex-wrap justify-content-center align-items-center">
                        <div class="skill-item wow fadeInUp" data-wow-delay=".3s">
                            <div class="skill-inner">
                                <div class="icon-box">
                                    <img src="~/assets/img/icons/figma.svg" alt="" />
                                </div>
                                <div class="number">92%</div>
                            </div>
                            <p>FIGMA</p>
                        </div>
                        <div class="skill-item wow fadeInUp" data-wow-delay=".5s">
                            <div class="skill-inner">
                                <div class="icon-box">
                                    <img src="~/assets/img/icons/xd.svg" alt="" />
                                </div>
                                <div class="number">85%</div>
                            </div>
                            <p>XD</p>
                        </div>
                        <div class="skill-item wow fadeInUp" data-wow-delay=".6s">
                            <div class="skill-inner">
                                <div class="icon-box">
                                    <img src="~/assets/img/icons/wp.svg" alt="" />
                                </div>
                                <div class="number">99%</div>
                            </div>
                            <p>WORDPRESS</p>
                        </div>
                        <div class="skill-item wow fadeInUp" data-wow-delay=".8s">
                            <div class="skill-inner">
                                <div class="icon-box">
                                    <img src="~/assets/img/icons/js.svg" alt="" />
                                </div>
                                <div class="number">93%</div>
                            </div>
                            <p>JavaScript</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SKILLS SECTION END -->
    <!-- CONTACT SECTION START -->
    <section class="contact-section" id="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 order-2 order-md-1">
                    <div class="contact-form-box wow fadeInLeft" data-wow-delay=".3s">
                        <div class="section-header">
                            <h2 class="section-title">Let’s work together!</h2>
                            <p>I design and code beautifully simple things and i love what i do. Just simple like that!</p>
                        </div>
                        <div class="tj-contact-form">
                            <form id="contact-form">
                                <div class="row gx-3">
                                    <div class="col-sm-6">
                                        <div class="form_group">
                                            <input type="text" name="conName" id="conName" placeholder="First name"
                                                   autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form_group">
                                            <input type="email" name="conEmail" id="conEmail" placeholder="Email address"
                                                   autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form_group">
                                            <textarea name="conMessage" id="conMessage" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form_btn">
                                            <button type="submit" class="btn tj-btn-primary">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-5 d-flex flex-wrap align-items-center order-1 order-md-2">
                    <div class="contact-info-list">
                        <ul class="ul-reset">
                            <li class="d-flex flex-wrap align-items-center position-relative wow fadeInRight"
                                data-wow-delay=".4s">
                                <div class="icon-box">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <div class="text-box">
                                    <p>Phone</p>
                                    <a href="tel:01636655584">+880 1636 6555 84</a>
                                </div>
                            </li>
                            <li class="d-flex flex-wrap align-items-center position-relative wow fadeInRight"
                                data-wow-delay=".5s">
                                <div class="icon-box">
                                    <i class="flaticon-mail-inbox-app"></i>
                                </div>
                                <div class="text-box">
                                    <p>Email</p>
                                    <a href="mailto:shishir01022003@gmail.com">shishir01022003@gmail.com</a>
                                </div>
                            </li>
                            <li class="d-flex flex-wrap align-items-center position-relative wow fadeInRight"
                                data-wow-delay=".6s">
                                <div class="icon-box">
                                    <i class="flaticon-location"></i>
                                </div>
                                <div class="text-box">
                                    <p>Address</p>
                                    <a href="#">Kawla, Dhaka, <br />Bangladesh</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTACT SECTION END -->
    <!-- BEGIN: Contact Form Success Modal Message -->
    <div class="modal contact_modal" id="message_sent" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title"><strong>Message Sent Successfully</strong></span>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Thank you for contacting us. We will get back to you shortly.<br />Have a great day!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Contact Form Success Modal Message -->
    <!-- BEGIN: Contact Form Fail Modal Message -->
    <div class="modal contact_modal failed" id="message_fail" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title"><strong>Error</strong></span>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Oops! Something went wrong, please try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Contact Form Fail Modal Message End -->
</main>